.stat-header {
    border-bottom: 2px solid black;
}

.col-header {
    font-size: 0.8rem;
}

.odd-row {
    background-color: #d8cbbb;
}

.even-row {
    background-color: #bb8fa9;
}

.playerscore-container {
    border-radius: 8px;
    border: 1px solid #560764;
    padding: 12px 15px;
    background-color: #bb8fa9;
}

@media screen and (max-width: 767px) {
    .score-chart.col-md-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .score-chart.col-md-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .score-chart.col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .score-chart.col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .score-chart.col-md-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .score-chart.col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}