@media screen and (max-width: 991px) {
    .board-cover {
        left: 43px !important;
    }
}

@media screen and (max-width: 767px) {
    .board-cover {
        left: 117px !important;
    }
}

@media screen and (max-width: 575px) {
    .board-cover {
        left: 138px !important;
    }
}

@media screen and (max-width: 532px) {
    .board-cover {
        left: 116px !important;
    }
}

@media screen and (max-width: 490px) {
    .board-cover {
        left: 93px !important;
    }
}

@media screen and (max-width: 441px) {
    .board-cover {
        left: 69px !important;
    }
}

@media screen and (max-width: 396px) {
    .board-cover {
        left: 40px !important;
    }
}

@media screen and (max-width: 337px) {
    .board-cover {
        left: 13px !important;
    }
}