.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0vmax;
  transition: width 1s, height 1s, opacity 1s, font-size 1s;
  color: #bb8fa9;
  font-family: "Rubik Mono One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    sans-serif;
  font-weight: 500;
  position: absolute;
  z-index: 999;
  text-align: center;
  left: 25%;
  top: 50%;
}
.fadeIn {
  opacity: 1;
  width: 50%;
  height: 50%;
  font-size: 5vmax;
  transition: width 1s, height 1s, opacity 1s, font-size 1s;
  color: #bb8fa9;
  font-family: "Rubik Mono One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    sans-serif;
  font-weight: 500;
  position: absolute;
  z-index: 999;
  text-align: center;
  left: 25%;
  top: 50%;
}
