.cycle {
    padding: 1rem;
    border-radius: 50%;
    width: 58px;
}

button {
    margin: 0 .5rem;
}

.down {
    margin-top: 1rem;
}

.mid-mobile {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .mid-mobile {
        display: block;
    }

    .down {
        margin-top: 0.75rem;
    }

    .main {
        display: none;
    }
}